
.App-logo {
  height: 4rem;
  pointer-events: none;
  justify-content: left;
  margin-left: 3rem;
}
.sajili{
  justify-content: right;
  margin-left: 3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#li-blue{
  font-weight: 700;
  color: purple;
  
}

h1{
  text-align: left;
}
